body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f8f6;
  color: #111;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f9f8f6;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 25px;
}

.email {
  font-size: 14px;
  color: #666;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 8px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 200;
  font-size: 16px;
}

.cta-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 13px;
}

.faq {
  color: #333;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.try-now {
  background: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
  transition: 0.3s;
  font-size: 14px;
}

.try-now:hover {
  background: #555;
}
.other {
  display: none;
  text-decoration: none;
}
.try-demo {
  display: none;
}

.heading {
  text-align: left;
  font-weight: 100;
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.hero .heading {
  text-align: left;
  margin-bottom: 20px;
  font-size: 60px;
  width: 100%;
}
.outerHeading {
  width: 100%;
}

.services {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.services img {
  max-width: 80px;
  margin-right: 20px;
}

.services div {
  display: flex;
  flex-direction: column;
}

.services span {
  margin-bottom: 5px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.hero-content .illustration img,
.hero-content .profile img {
  max-width: 100%;
}

.plans {
  margin-top: 40px;
  text-align: left;
}

.avatars img {
  max-width: 40px;
  margin-right: 10px;
}

.plans {
  display: flex;
  width: 100%;

  margin-top: 30px;
}
.heading2 {
  text-align: left;
  font-weight: 100;
  font-size: 40px;
}
.avatars {
  display: flex;
}

.avatars img {
  max-width: 60px;
  margin-right: 10px;
  border-radius: 50%;
}

.separator {
  font-size: 40px;
  margin: 80px;
}

.testimonial {
  max-width: 500px;
}

.testimonial p {
  margin: 30px 0px;
  font-size: 20px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .faq {
    display: none;
  }
  .try-now {
    display: none;
  }
  .email {
    display: none;
  }
  .try-demo {
    display: block;
    background: black;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.3s;
    font-size: 10px;
  }

  .try-demo:hover {
    background: #555;
  }
  .other {
    display: block;
    font-size: 12px;
    color: black;
  }
  .navbar {
    padding: 1rem;
  }

  .logo img {
    height: 30px;
  }

  .cta-buttons {
    gap: 10px;
  }
  .separator {
    display: none;
  }
  .plans {
    flex-direction: column-reverse;
    align-items: left;
  }
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.try-now {
  background: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.hero {
  text-align: center;
  padding: 2rem;
  margin: 30px;
}

.hero h1 {
  font-size: 2.5rem;
  margin: auto;
}

.services {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  font-weight: bold;
  text-align: left;
  font-size: 20px;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.illustration img,
.profile img {
  border-radius: 30px;
  max-height: 400px;
}

.plans {
  margin-top: 2rem;
}

.plans h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.avatars {
  align-items: center;
  width: 150px;
}

.avatars img {
  height: 60px;
  border-radius: 50%;
  margin-right: 0px;
  align-items: center;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hero-content {
    flex-direction: column;
  }
  .hero {
    margin: 10px;
  }

  .services {
    flex-wrap: wrap;
    justify-content: center;
  }

  .profile img {
    display: none;
  }
  .services {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 5px;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
  }
}
@media (max-width: 850px) {
  .nav-links {
    display: none;
  }
}